__pycache__/
cogs/__pycache__/
logs.txt
Logs.txt
ztoken.py
config.py
economy-bot.bat
images/mapUpdated.png
desktop.ini
settings.json
images/profile.png
channels.py
claimed.txt
lotteryChannels.json
miner.json
prefix.json
profiles.json
rewards.json
settings.json
votes.json
justingraham_db.db
images/roulette/temproulette.png